<!DOCTYPE html>



<head>

	<title> Base </title>

	<link rel="stylesheet" type="text/css" href="static/css/HomeCss.css">
	<!-- <link rel="stylesheet" type="text/css" href="static/css/stylesheet.css" /> -->

<!-- fonts form google -->

<link href="https://fonts.googleapis.com/css?family=Rationale" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Rubik+Mono+One" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Julius+Sans+One" rel="stylesheet">



<!-- bootstrap under -->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<!-- fontawesome strip -->

<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>

</head>

<body>	


		<!-- create Nave here  -->

		<!-- Home.html -->
        <!-- {% block content %}

        {% endblock %}



		<h1> Base </h1> -->
		


</body>







</body>