<!DOCTYPE html>
<html>
    <head>
        <title> Detail / Project Name  </title>
    </head>

    <!-- indise -->
    <body>

        
                    <h1> Project Name </h1>
                    <br>
                    {% for data in detailViewPortfolio %}
                    <h3> {{ data.Image }}</h3>
                    <h2> {{ data.ProjectName }}</h2>
                    <h6> {{ data.Technology }}</h6>
                    <h3> {{ data.Summery }} </h3>
                    {% endfor %}
       


              

       
    </body>

</html>