<!DOCTYPE html>
<html>
    <head>
        <title> Detail / Project Name  </title>
    </head>

    <!-- indise -->
    <body>

        
                    <h1> Project Name </h1>
                    <br>
                    {% for data in context %}
                    <h2> {{ data.ProjectName }}</h2>
                    <h3> {{ data.ganguages }}</h3>
                    <h6> {{ data.gitHub_link }}</h6>
                    <!-- <h3> {{ data.images }} </h3> -->
                    {% endfor %}
       


              

       
    </body>

</html>