{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title> Home </title>
        <link rel="stylesheet"  type="text/css" href="{% static 'index.css' %}">
    </head>

    <!-- indise -->
    <body>

            <body>
                    <h1> Index Page Test  </h1>

                    <h5> Log In </h5>
                    <h5> Log Out </h5>
                    <br>
                    {% for data in dummyModel %}
                    <h2> {{ data.name }}</h2>
                    <h3> {{ data.title }}</h3>
                    <h4> {{ data.about_Summery }}</h4><br>
                    {% endfor %}
                </body>


       
    </body>

</html>