<!DOCTYPE html>
<html>
    <head>
        <title> Portfolio </title>
    </head>

    <!-- indise -->
    <body>

        
                    <h1> Portfolio Page  </h1>
                    <br>
                    {% for data in detail %}
                    <h2> {{ data.ProjectName }}</h2>
                    <h6> {{ data.Technology }}</h6>
                    <h3> {{ data.Image }}</h3>
                    <a href="{% url 'detailView' %}"><h7> {{ data.ReadMore }}<br></a> <br> 
                        <!-- send specific index back to Detailportfolio -->
                    {% endfor %}

                    
       



              

       
    </body>

</html>