{% extends 'portfolioTemplate/base.html' %}


{% block content %}
    
    <h1> Protfolios Projects </h1>
    <!-- render data from about route and display here -->
    {% for data in homeDataModel %}
    <!-- add designes using css to this variables: alot of Divs inorder to create a responsive page -->
    <div class="box">
    <h4> {{ data.projectName }} </h4>
    <h4> {{ data.aboutProject }} </h4>
    <h4> {{ data.projectImageOne }} </h4>
    </div>
    {% endfor %}
    
  
{% endblock content %}